.form-group input {
    margin: 5px auto;
    width: 30%;
}

.btn.btn-default {
    width: 10%;
    margin-left: 45%;
}

.datepicker .form-control{
    width: 28%;
    display: inline-block; 
}

.datepicker{
    margin-left: 35%;
    width: 35%;
}
