
@{
  
}
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-logo"><a href="~/Home"><img src="~/Content/images/logo.png" /></a></div>
    <div class="navbar-text"><p>OOKING</p></div>
</nav>
