<?xml version="1.0" encoding="utf-8" ?>
<simpleMockWebService>
    <globalSettings webApiPrefix="api" verbs="GET,POST,PUT,DELETE" jsonFileExtensions="json,js,txt" />
    <apiGroups>
        <apiGroup key="Booking">
            <apis>
                <api key="GetBookings" group="Booking" method="get" url="/api/bookings" src="~/responses/get.bookings.json" />
                <api key="GetAvailabilities" group="Booking" method="get" url="/api/availabilities" src="~/responses/get.availabilities.json" />
            </apis>
        </apiGroup>
    </apiGroups>
</simpleMockWebService>
